<mat-card>
    <form #loginForm="ngForm" (submit)="onLoginForm(loginForm)" >
        <mat-form-field>
            <input matInput="email" name="email" type="email" ngModel required email
            #emailInput="ngModel" placeholder="E-mail">
            <mat-error *ngIf="emailInput.valid">Please enter valid input</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput="password" name="password" type="password" ngModel #passwordInput="ngModel" required
             placeholder="Password" ngModel>
             <mat-error *ngIf="passwordInput.valid">Please enter a valid password</mat-error>
        </mat-form-field>
       <button mat-raised-button color='accent' type="submit">Login</button>
    </form>
</mat-card>